  <div class="container">
  <h2 class="text-left" id="heading2"><b>Home</b></h2>
      <p class="text-left" id="arct1">Welcome to Surabhi's Restaurant. We serve delicious Indian food. We have variety<br>
          of dishes that cover the taste from North India to Southern India. Most popular are tandoori oven dishes,<br>
          a variety of delicate, exotic curries and a wide selection of vegetarian fare.</p>
          <br>
          <p class="text-left" id="arct2">Guests can make their reservations by clicking on the following button:<br></p>
          <button type="button" data-ng-click="homeVm.button1()" id="button" class="btn btn-primary">Guest</button>
    <br>
    <br>
    <p class="text-left" id="arct3">Owner can login by clicking on the following button:<br></p>
    <button type="button" data-ng-click="homeVm.button2()" id="button" class="btn btn-primary">Owner</button>

    
    </div>
